.HeaderContainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.HeaderContainer.material-icons{
  font-size: 40px;
  color:aquamarine;
}

.HeaderContainer.LogoContainer{
  height: 100%;
  width: 70px;
  padding: 25px;

  @media screen and (max-width: 800px) {
    width: 50px;
    padding: 0;

}
}

.HeaderContainer#OptionsLink{
  padding: 10px 15px;
  cursor: pointer;
  color:black;
}

.HeaderContainer a{
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  color:black;
}

.HeaderContainer.OptionsContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 800px) {
    width: 80%;
  }
}
